
.googleLoginButton {
  margin-top: %;
  margin-left: 29%;

}

.signInContainer {
  margin-top: 2%;
  margin-left: 5%;
}

.createNewContainer {
  margin-right: 30%;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.textcolor {
  color: #fff;


}
.demo-card-square > .mdl-card__title {
  color: #fff;
}
.testbutton {
  background-color: #009688;

}


.mdl-card__title-text {
  color: #fff;
  align-items: center;
}

.mdl-color {
    background-color: #009688;
}

.test {

  margin-right: 10%;
  margin-top: 17%;
}
